{% extends 'base.html' %}
{% load static from staticfiles %}
{% block title%}<title>Guest Form</title>{% endblock %}
{% block nav %}
<div class="form-inline my-2 my-lg-0 ml-auto">
  <h6 class="text-dark mx-3 my-auto">Hello, Visitor</h6>
  <a class="btn btn-primary mx-2" href="/doctors" role="button">Dashboard</a>
</div>
{% endblock %}

{% block header %}
<header
  class="masthead text-white text-center "
  style="background:url('{% static '/img/bg-2.jpeg' %}')no-repeat center center fixed;background-size:cover; height: 35rem;"
>
  <div class="overlay"></div>
  <div class="container">
    <div class="row mx-auto">
      <div class="col">
        <div class="card" style="width: 40rem;">
          <h5 class="card-header bg-info text-monospace text-light text-center">
            <strong>Covid-19 Information</strong>
          </h5>

          <div class="card-body px-lg-5 mt-1">
            <form
              class="text-center"
              style="color: #757575;"
              action="/dashboard/guest/covid"
              method="POST"
            >
               <div class="md-form my-2">
              <label for="visitordata_containment">Are you from contaniment zone?</label>
              <select id="visitordata_containment" name="Answer">
                   <option value="Yes">Yes</option>
                   <option value="No">No</option>
              </select>
               </div> 
              <div class="md-form my-2">
              <label for="visitordata_history">Have you travelled outside the city in 15 days?</label>
               <select id="visitordata_history" name="Answer">
                   <option value="Yes">Yes</option>
                   <option value="No">No</option>
              </select>
               </div> 
             <div class="md-form my-2">
             <label for="visitordata_symptoms">Do you have symptoms like fever, cold?</label>
               <select id="visitordata_symptoms" name="Answer">
                   <option value="Yes">Yes</option>
                   <option value="No">No</option>
              </select>
              </div> 
             <div class="md-form my-2">
             <label for="visitordata_family">Do you have any friend or family member who is infected from coronavirus?</label>
               <select id="visitordata_symptoms" name="Answer">
                   <option value="Yes">Yes</option>
                   <option value="No">No</option>
              </select>
             </div> 
             <button
                class="btn bg-info btn-rounded my-2 waves-effect z-depth-0 text-light"
                type="submit"
                value="{{ host.host_name }}"
                name="host"
                style="width: 10rem;">
                Query manager
              </button>

        </form>
      </div> 
    </div> 
 </div> 
 </div> 
</div>
</div> 
</header>
{% endblock %}
